@using Webdiyer.WebControls.Mvc
@using Ruanal.Web
@model Ruanal.WebDomain.PageModel<Ruanal.WebDomain.Model.Manager>
@{
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th width="50px;">ID</th>
            <th width="150px;">名称</th>
            <th>别名</th>
            <th width="80px;">状态</th>
            <th width="80px;">登录权限</th>
            <th>登录名</th>           
            <th>上次登录时间</th>
            <th width="300px">创建时间</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model.List)
        {
            <tr>
                <td>@a.ManagerId</td>
                <td>@a.Name</td>
                <td>@a.SubName</td>
                <td>
                    @switch (a.State)
                    {
                        case 0:
                            <span class="label label-info">正常</span>
                            break;
                        case 1:
                        <span class="label label-warning">已冻结</span>
                            break;
                        case -1:
                        <span class="label label-info">已删除</span>
                            break;
                        default:
                        <span class="label label-info">未知@(a.State)</span>
                            break;
                    }
                </td>

                <td>
                    @if (a.AllowLogin == 1)
                    {
                        <span class="label label-info">允许</span>
                    }
                    else
                    {
                        <span class="label label-warning">禁止</span>
                    }
                </td>
                <td>  @a.LoginName </td>
                <td>@Html.ToDateString(a.LastLoginTime)</td>
                <td>@Html.ToDateString(a.CreateTime)</td>
                <td>@a.Remark</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        @Html.ActionLink("详情", "Edit", new { managerid = a.ManagerId }, new { @class = "btn btn-default" })
                        <button class="btn btn-danger" data-id="@a.ManagerId" onclick="libmanager.index_delete(this)">删除</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Pager(new Webdiyer.WebControls.Mvc.PagedList<object>(Model.List, Model.PageNo, Model.PageSize, Model.TotalCount), new PagerOptions { PageIndexParameterName = "pno", NumericPagerItemCount = 5, ContainerTagName = "ul", CssClass = "pagination pagination-sm", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>", Id = "bootstrappager2", PageIndexBoxId = "pageIndexBox", GoToButtonId = "goToBtn" })


